body {
      margin: 0;
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
}

#content {
      display: flex;
}

#left-border {
      width: 40%;
}

#right-border {
      width: 40%;
}

#post-area {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 300px;
}

.post-header {
      display: flex;
      align-items: center;
      margin-top: 16px;
}

.profile-img {
      border-radius: 100%;
      width: 32px;
      height: 32px;
      object-fit: cover;
      margin: 8px 16px 8px 8px;
}

.info-container {
      display: flex;
      flex-direction: column;
}

.author-recency-container {
      display: flex;
      gap: 16px;
      text-align: center;
}

.comment-container {
      display: flex;
      gap: 16px;
      text-align: center;
}

.author {
      margin: 0;
      font-size: 12px;
}

.light-gray {
      margin: 0;
      font-size: 12px;
      color: gray;
      font-weight: initial;
}

.cursor-pointer {
      cursor: pointer;
}

.location {
      margin: 0;
      font-size: 12px;
      font-weight: initial;
}

.main-image {
      border-radius: 4px;
      width: 300px;
      height: auto;
      object-fit: cover;
}

.like-button {
      filter: invert(100%);
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-top: 8px;
}

.unlike-button {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-top: 8px;
}

h3 {
      font-size: 12px;
      margin: 4px 0;
}

p {
      font-size: 12px;
      margin: 4px 0;
}

#comment-input-container {
      display: flex;
}

.display-none {
      display: none;
}
